@use 'vars' as *;

.about {
    background-color: #F3EBE9;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        align-items: center;
        gap: 50px;
    }

    &__content {
        max-width: 600px;
    }

    &__media {
        position: relative;
        border-radius: $card-rad;
        overflow: hidden;
        box-shadow: $box-shadow;
    }

    &__video {
        display: block;
        width: 100%;
        border-radius: $card-rad;
    }
}

@media (max-width: $bp_tablet) {
    .about {
        &__inner {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}
