@use "vars" as *;

.advantages {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 50px;
    }

    &__item {
        position: relative;
        text-align: center;
        padding: 64px 20px 28px;
        border: 1px solid $adv_border;
        border-radius: $card-rad;
    }

    // Иконка по центру, выступает на 50% вверх за пределы блока
    &__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 10px 20px;

        .sprite_icon {
            width: 72px;
            height: 72px;
        }
    }

    &__title {
        font-size: $fs_h3;
        font-weight: 700;
        margin-bottom: 0;

        &::after {
            content: "";
            display: block;
            width: 130px;
            height: 1px;
            background-color: $adv_border;
            margin: 14px auto 14px;
        }
    }

    &__text {
        color: #555;
    }
}

@media (max-width: $bp_tablet) {
    .advantages {
        &__list {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        &__icon {
            .sprite_icon {
                width: 50px;
                height: 50px;
            }
        }

        &__title {
            br {
                display: none;
            }
        }
    }
}
